<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:appCategory="maps"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GPS Speedometer"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPS"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAE9PxJdBbbOcxb65_tKdateOZ-HD8kNZ4" />

        <activity
            android:name=".ui.ConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".biiling.SubVipActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.MoreTipActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShowWebActitvity"
            android:exported="false" />
        <activity
            android:name=".ui.TipActivity"
            android:exported="true" />

        <provider
            android:name=".provider.MyFileProvider"
            android:authorities="com.gps.speedometer.odometer.gpsspeedtracker"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".ui.broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.SettingOptionsActivitys"
            android:exported="true"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.Setting"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity2"
            android:exported="true"
            android:label="ODOMETER"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.ShowActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />


        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <activity
            android:name=".ui.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>