<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:appCategory="maps"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:directBootAware="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneTrackerLocation"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.chat_message.ChatMessageActivity"
            android:exported="false" />
        <activity android:name=".ui.videoCall.VideoCall" />
        <activity android:name=".ui.account.signUp.SignUpActivity" />
        <activity android:name=".ui.account.intro.IntroActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.account.signIn.LoginActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.HandleSendMessage"
            android:directBootAware="true"
            android:foregroundServiceType="remoteMessaging" />

        <receiver
            android:name=".broadcast.NotificationMonitor"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.knd.duantotnghiep.phonetrackerlocation.notification.REPLY" />
                <action android:name="com.knd.duantotnghiep.phonetrackerlocation.notification.DECLINE" />
                <action android:name="com.knd.duantotnghiep.phonetrackerlocation.notification.ANSWER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.BatteryMonitor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyFirebaseInstanceIDService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service -->
        <!-- android:name=".service.JobService" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE"> -->
        <!-- </service> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="327150076419065" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="56789" />

        <provider
            android:name=".provider.MyProvider"
            android:authorities="com.knd.duantotnghiep.phonetrackerlocation"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>